In [8]:
import json
from collections import Counter
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [9]:
output = pd.read_csv('output.csv')
output = pd.read_json('route.json')

with open('road_graph.json') as f:
    graph = json.load(f)
    f.close()

In [10]:
data = pd.DataFrame()
active_label, stop_label = True, False

data['time'] = output['timestamp'].copy()
data['signal_group_1'] = data['signal_group_2'] = [np.nan for i in range(len(output))]

for i in range(0, len(data['signal_group_1']), 20):
    for u in range(5):
        data['signal_group_1'][i+u] = active_label

for i in range(0, len(data['signal_group_2']), 15):
    for u in range(5):
        data['signal_group_2'][i+u] = active_label

data['signal_group_1'].replace(np.nan, 'False', inplace=True)
data['signal_group_2'].replace(np.nan, 'False', inplace=True)

print(Counter(data['signal_group_1']), Counter(data['signal_group_2']))
    
data.head() # id light 1

Counter({'False': 90, True: 35}) Counter({'False': 80, True: 45})

                       time signal_group_1 signal_group_2
0 2022-06-21 14:33:27+00:00           True           True
1 2022-06-21 14:33:28+00:00           True           True
2 2022-06-21 14:33:29+00:00           True           True
3 2022-06-21 14:33:30+00:00           True           True
4 2022-06-21 14:33:31+00:00           True           True

In [11]:
data2 = pd.DataFrame()
    
data2['time'] = output['timestamp'].copy()
data2['signal_group_1'] = data2['signal_group_2'] = [np.nan for i in range(len(output))]

for i in range(0, len(data2['signal_group_1']), 20):
    for u in range(5):
        data2['signal_group_1'][i+u] = active_label

for i in range(0, len(data2['signal_group_2']), 25):
    for u in range(5):
        data2['signal_group_2'][i+u] = active_label

data2['signal_group_1'].replace(np.nan, 'False', inplace=True)
data2['signal_group_2'].replace(np.nan, 'False', inplace=True)

print(Counter(data2['signal_group_1']), Counter(data2['signal_group_2']))

data2['signal_group_2'].iloc[48] = True
data2.head() # id light 2

Counter({'False': 90, True: 35}) Counter({'False': 100, True: 25})

                       time signal_group_1 signal_group_2
0 2022-06-21 14:33:27+00:00           True           True
1 2022-06-21 14:33:28+00:00           True           True
2 2022-06-21 14:33:29+00:00           True           True
3 2022-06-21 14:33:30+00:00           True           True
4 2022-06-21 14:33:31+00:00           True           True

In [13]:
# data.to_csv('light_id_3.csv', header=True, sep=',', index=False)
# data2.to_csv('light_id_6.csv', header=True, sep=',', index=False)